.box {
    width: 100px ;
    height: 100px;
    background-color: red;
    transition: 2s;
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes myAnimation {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}